<a href="https://colab.research.google.com/github/Anik-Rifat/Algorithm-1st-Class/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print(10 + 5)

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
"""
This is a multi-line comment.

print("Hello world")
print("Hello universe")
print("Hello everyone")
"""

print("Hello")

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
x = 4       
x = "Sally"
print(x)

In [ ]:
x = str(3)    
y = int(3)   
z = float(3) 
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = input()
y = input()

z = x+y

In [ ]:
print(z)

55

In [ ]:
x = int(input())
y = int(input())

z = x+y
print(z)

In [ ]:
x = "John"
# is the same as
x = 'John'

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

In [ ]:
x = 1    # int
y = 2.8  # float

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

print(a)
print(b)

print(type(a))
print(type(b))

In [ ]:
a = "Hello, World!"
print(a[1])

In [ ]:
a = "Hello, World!"
print(len(a))

In [ ]:
b = "Hello, World!"
print(b[:5])

In [ ]:
b = "Hello, World!"
print(b[2:])

In [ ]:
b = "Hello, World!"
print(b[2:5])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
a = "Hello World!"
print(a.upper())

In [ ]:
a = "Hello World!"
print(a.lower())

In [ ]:
Str = "Python is awesome."

print(Str.split(" "))

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [ ]:
age = input()
txt = "My name is Sadik, I am " + age
print(txt)

22
My name is Sadik, I am 22

In [ ]:
age = 22
txt = "My name is Sadik, I am " + age
print(txt)

In [ ]:
age = 22
txt = "My name is Sadik, and I am {}"
print(txt.format(age))

In [ ]:
quantity = 3
itemno = 10
price = 30
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))